<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mark.ui"
    >

    <application>


        <activity
            android:name=".kyc.NewUserReg"
            android:exported="false"
            android:label="@string/title_activity_new_user_reg"
            android:theme="@style/Theme.Sajili" />


        <activity
            android:name=".CustomerDashboard.CustomerServiceActivity"
            android:exported="false"
            android:label="@string/title_activity_customer_service"
            android:theme="@style/Theme.Sajili" />


    </application>

</manifest>