<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".KycIntro.KycIntroScreen"
            android:exported="false"
            android:label="@string/title_activity_kyc_intro_screen"
            android:theme="@style/Theme.Sajili" />
        <activity
            android:name=".CustomerDashboard.CustomerServiceActivity"
            android:exported="false"
            android:label="@string/title_activity_customer_service"
            android:theme="@style/Theme.Sajili" />
        <activity
            android:name=".RegistrationScreen"
            android:exported="false"
            android:label="@string/title_activity_registration_screen"
            android:theme="@style/Theme.Sajili" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
    </application>

</manifest>